@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
#form {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
  position: relative;
  height: auto;
}

#app main {
  margin-left: 30px;
}

.background {
  height: auto;
  /* max-height: 100vh; */
  position: absolute;
  align-items: center;
  z-index: "-1"
}

.logo {
  width: 300px;
  height: auto;
  position: relative;
  z-index: "0"
}

.desc {
  padding-left: 30px;
  position: absolute;
  left: 400px;
  color: #fff;
  max-width: 700px;
  font-family: Roboto, sans-serif;
  font-size: 60px;
}

/* Responsive Layout */

@media (max-width: 1000px) {
  .desc {
    top: -30px;
    left: 0;
    margin-bottom: 10px;
    font-size: 35px;
    max-width: 400px;
  }
  #form {
    margin-top: 20px;
  }
  #app main {
    margin-left: 0;
    margin-top: 30px;
  }
  #app aside {
    width: 100%;
  }
}