@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.App-opcao {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  padding: 0 10vw 0 5vw;
}

.logo img {
  height: 120px;
  width: 230px;
}

.menu-content {
  display: flex;
  flex-direction: row;
}

.menu-item {
  color: #000000;
  font-size: 18px;
  margin-right: 30px;
  list-style: none;
  font-family: 'Comfortaa', sans-serif;
  cursor: pointer;
}

.menu-item span {
  font-weight: bold;
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.title-opcao {
  font-size: 20px;
  font-family: 'Comfortaa', sans-serif;
  color: gray;
  text-align: center;
}

.opcoes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-opcao {
  display: flex;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  justify-content: center;
}

.ilustra-opcao {
  width: 350px;
  height: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(80%);
  transition: all 0.5s
}

.ilustra-opcao:hover {
  filter: none;
  -webkit-filter: none;
  width: 380px;
  height: 280px;
}

.btn-opcao {
  width: 135px;
  height: 35px;
  border: none;
  background-color: #42ce34;
  color: white;
  border-radius: 1px;
}